body {
    margin: 0;
    font-family: "Roboto", serif;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C03221;
    padding: 0 20px; 
    height: 50px; 
  }

  .navbar .brand {
    color: #F7F7FF;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .navbar .nav-links {
    display: flex;
    gap: 15px; 
  }

  .navbar .nav-links a {
    color: #F7F7FF;
    text-decoration: none;
    font-size: 1rem;
    margin:20px;
    font-size: 1.1rem;
  }

  .navbar .nav-links a:hover {
    text-decoration: underline; 
  }

  .footer {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: #C03221;
    text-align: center;
    padding: 10px;
    color:#F7F7FF;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .heading-element{
    text-align:center;
  }


  .album {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
  }

  figure {
    
    box-sizing: border-box; 
    margin: 0; 
    text-align: center;
  }

  figure img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  figcaption {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
  }